* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    border: none;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: 1px solid red;
  }
  html {
    font-size: 62.5%;
  }
  body {
      background-image: linear-gradient(
          to top,
          rgba(0, 0, 0, 40%) 0,
          rgba(0, 0, 0, 40%) 60%,
          rgba(0, 0, 0, 0.936) 100%
        ),
        url(../img/backgroundpic.jpg);
        min-height: 100vh;
  }
  .container {
    justify-content: space-between;
    display: flex;
    color: white;
    width: 82%;
    margin: 0 auto;
    margin-top: 8rem;
  }
  .main__text{
    text-shadow: 1px 1px 70px black;
    font-size: 3rem;
    width: 65%;
  }
  .main__img{display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
  }
  .main__img img {
    border-radius: 2rem;
    width: 100%
  }
