* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  /* border: 1px solid red; */
}
html {
  font-size: 62.5%;
}
.container {
  width: 82%;
  margin: 0 auto;
}
/* -----starting header----- */
header {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 40%) 0,
      rgba(0, 0, 0, 40%) 60%,
      rgba(0, 0, 0, 0.936) 100%
    ),
    url(../img/backgroundpic.jpg);
    min-height: 100vh;
}
nav{
  color: rgba(255, 255, 255, 0.767);
  font-size: 1.5rem;
}
.nav {
  height: 12vh;
  width: 82%;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.nav-menu {
  width: 30%;
}
.nav-menu ul {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.content {
  height: calc(100vh - 12vh);
  width: 82%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
}
.main > div {
  align-items: center;
}
.main h1 {
  font-size: 6rem;
}
.main p {
  padding: 1rem 0;
  font-size: 2rem;
}
.main button,
.main input {
  color: white;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
}
.main input::placeholder {
  color: rgb(255, 255, 255);
}
.filter{
  display: flex;
   color: white;
  justify-content: space-between;
}
.filter div{
  
  display: flex;
} 
.filter h1{
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.767);
}
.filter select{
  margin: 0 1rem;
  padding: 0.5rem;
  background-color: rgba(65, 65, 65, 0.342);
  border: 1px solid black;
color: white;
}
.filter button{
  padding: 0.5rem 2rem;
  border-radius: 1rem;
}
